<app-flash [text]="flash"></app-flash>

<div *ngIf="canEdit()" class="container">
  <!-- <div class="jumbotron jumbotron-fluid pt-5 pb-0">
        <div class="text-center container">
          <h1 class="display-3">Report a garbage!</h1>
          <p class="lead">
            Follow these two steps, to report a garbage in your area!
          </p>
        </div>
      </div> -->
  <!-- <div class="card details-container shadow mb-4">
          Card Header
          <div class="card-header text-center">
            <h1 class="text-dark">1. Pick a location!</h1>
          </div>
          Card Body
          <div class="card-body">
            <div class="alert alert-info text-center" role="alert">
              Choose the location of the garbage and the address below will be automatically filled for you!
            </div>
            <div class="map-input-container">
              <app-map [pageType]="'create'" (createPageLatLon)="handleMapCoordinateChange($event)"></app-map>
            </div>
          </div>
        </div> -->


  <div class="card details-container shadow my-4">
    <!-- Card Header -->
    <div class="card-header text-center">
      <h1 class="text-dark">{{message?.title}}</h1>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      <div class="alert alert-info text-center" role="alert">
        Some fields are not possible to be changed. You can always <a [routerLink]="['/messages/create']">create</a> a
        new one.
      </div>
      <form (ngSubmit)="editMessage()">
        <!-- Title input -->
        <div *ngIf=(message)>
          <div class="form-group">
            <label for="createNewMessageTitle"> Title:</label>
            <input id="createNewMessageTitle" [(ngModel)]="message.title" [ngModelOptions]="{ standalone: true }"
              required="required" type="text" class="form-control" />
          </div>
          <!-- End of title input -->
          <!-- Description input -->
          <div class="form-group">
            <label for="createNewMessageDescription"> Description:</label>
            <textarea id="createNewMessageDescription" [(ngModel)]="message.description"
              [ngModelOptions]="{ standalone: true }" required="required" class="form-control" rows="6"></textarea>
          </div>
          <!-- End of description input -->
          <!-- Category input -->
          <!-- <div class="form-group">
          <label for="categoryInput"> Select categories: </label>
          <select
            [(ngModel)]="selectedCategories"
            [ngModelOptions]="{ standalone: true }"
            id="categoryInput"
            required="required"
            class="form-control"
            size="6"
            multiple
            >
            <option *ngFor="let category of categoryService.categories" [ngValue]="category">
              {{category.name | uppercase}}
            </option>
          </select>
        </div> -->

          <!-- End of category input -->
          <!-- Address input -->

          <!-- <div class="form-group">
            <label for="createNewMessageAddress">Address of the garbage: *</label>
            <input id="createNewMessageAddress" [(ngModel)]="message.address"
              [ngModelOptions]="{ standalone: true }" type="text" class="form-control" />
          </div> -->

          <!-- End of address input -->

          <!-- Telephone input -->
          <div class="form-group">
            <label for="createNewMessageTelephone">Contact number: </label>
            <input id="createNewMessageTelephone" [(ngModel)]="message.phone" [ngModelOptions]="{ standalone: true }"
              required="required" type="tel" class="form-control" placeholder="Please enter your phone number" />
          </div>
          <!-- End of telephone input -->

          <!-- File upload input -->
          <!-- <div class="form-group">
          <label for="fileUploadCustom">Upload image: *</label>
          <div class="custom-file" id="fileUploadCustom">
            <input class="custom-file-input" (change)="onFileChange($event)" type="file" accept="image/*"
              id="fileUpload" [ngStyle]="{ cursor: 'pointer' }" />
            <label class="custom-file-label font-weight-normal" for="fileUpload">{{ selectedFile?.file?.name }}</label>
          </div>
        </div> -->
          <!-- End of file upload input -->
          <!-- Container for image upload -->
          <!-- <div *ngIf="selectedFile" class="img-preview-container">
          <div class="img-preview" [ngStyle]="{ 'background-image': 'url(' + selectedFile.src + ')' }"></div>
          <div *ngIf="selectedFile.pending" class="img-loading-overlay">
            <div class="img-spinning-circle"></div>
          </div>
          <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success" role="alert">
            Image uploaded successfully!
          </div>
          <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger" role="alert">Image upload failed!</div>
        </div> -->
          <!-- End of container for image upload -->
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg" id="submitBtn">Edit message!</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="!canEdit()">
    <app-error [code]="401" [message]="'Not authorized!'"></app-error>
  </div>