<app-flash [text]="flash"></app-flash>

<div *ngIf="canEdit()" class="container">
  <div class="card details-container shadow my-4">
    <!-- Card Header -->
    <div class="card-header text-center">
      <h1 class="text-dark">{{message?.title}}</h1>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      <div class="alert alert-info text-center" role="alert">
        Some fields are not possible to be changed. You can always <a [routerLink]="['/messages/create']">create</a> a
        new one.
      </div>
      <form (ngSubmit)="editMessage()">
        <!-- Title input -->
        <div *ngIf=(message)>
          <div class="form-group">
            <label for="createNewMessageTitle"> Title:</label>
            <input id="createNewMessageTitle" [(ngModel)]="message.title" [ngModelOptions]="{ standalone: true }"
              required="required" type="text" class="form-control" />
          </div>
          <!-- End of title input -->
          <!-- Description input -->
          <div class="form-group">
            <label for="createNewMessageDescription"> Description:</label>
            <textarea id="createNewMessageDescription" [(ngModel)]="message.description"
              [ngModelOptions]="{ standalone: true }" required="required" class="form-control" rows="6"></textarea>
          </div>
          <!-- End of description input -->
          <!-- Telephone input -->
          <div class="form-group">
            <label for="createNewMessageTelephone">Contact number: </label>
            <input id="createNewMessageTelephone" [(ngModel)]="message.phone" [ngModelOptions]="{ standalone: true }"
              required="required" type="tel" class="form-control" placeholder="Please enter your phone number" />
          </div>
          <!-- End of telephone input -->

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg mr-1" id="submitBtn">Edit message!</button>
            <button class="btn btn-primary btn-lg" (click)="clickBack()">Back</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="!canEdit()">
  <app-error [code]="401" [message]="'Not authorized!'"></app-error>
</div>
