.jumbotron{
    background-color: white;
}

.map{
    padding: 300px;
}

.pagination{
    margin: 0px;
}

.garbage-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-item {
    transition: transform .2s; /* Animation */
}

.card-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1rem #28a74694 !important;
    cursor:pointer;
}

.display-3{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-4{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.2;
}

.filter-button{
    width: 100%;
}