<div class="container">
  <div class="jumbotron jumbotron-fluid pt-5 pb-0">
    <div class="text-center container">
      <h1 class="display-2">Garbage Hunter</h1>
      <p class="lead">
        Garbage Hunter is the application to report unused things that lies on the street so other people can also see
        them.
        <br />
        You can create, see and contribute to the messages.
      </p>
    </div>
  </div>
</div>

<div class="container mb-5">
  <app-map [messages]="messages"></app-map>
</div>

<div class="container">
  <h1 class="display-4">Recent messages : </h1>
  <h2> number of messages : {{messages.length}}</h2>
  <hr />
  <div class="row">
    <div class="col-lg-6" *ngFor="let m of messages">
      <div class="card mb-3">
        <h3 class="card-header"><a [routerLink]="['/messages/' + m?._id]">{{m?.title}}</a></h3>
        <div class="card-body">
          <h5 class="card-title">{{m?.description}}</h5>
        </div>
        <img
          class="garbage-img"
          src="{{m?.image}}"
          alt="Card image"
        />
        <div class="card-body">
          <p class="card-text">{{m?.address}}</p>
        </div>
        <div class="card-footer text-muted">
          <div class="input-group">
            <span>Reported at :</span>
            <span>&nbsp; {{m.created_at | date: 'HH:mm dd-MM-yyyy'}}</span>
          </div>
         </div>
      </div>
    </div>
  </div>
</div>
