<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">Garbage Hunter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
    aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation"
    (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03" [ngbCollapse]="isCollapsed">
    <div class="navbar-nav mr-auto">
      <ul class="navbar-nav">
        <li *ngIf="userService.user != null" class="nav-item">
          <span [ngStyle]="{color: 'rgba(255, 255, 255, 0.5)'}">
            <fa name="user" size="lg"></fa> {{userService.user?.email}}
          </span>
        </li>
      </ul>
    </div>

    <ul class="navbar-nav">
      <!-- if user is not logged in -->
      <li *ngIf="userService.user == null" class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/login']">
          <fa name="sign-in" size="lg"></fa> Login
        </a>
      </li>
      <!-- if user is not logged in -->
      <li *ngIf="userService.user == null" class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/register']">
            <fa name="user-plus" size="lg"></fa> Register
          </a>
        </li>
      <!-- if user is logged in and is not admin -->
      <li *ngIf="userService.user != null" class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/messages/create']">
          <fa name="plus-square" size="lg"></fa> Create
        </a>
      </li>
      <!-- if user is logged in and is admin -->
      <li *ngIf="userService.user != null && userService.user.isAdmin == true" class="nav-item"
        [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/admin']">
          <fa name="user" size="lg"></fa> Admin
        </a>
      </li>
      <li *ngIf="userService.user != null" class="nav-item">
        <a class="nav-link" [routerLink]="['/']" (click)="logout()">
          <fa name="sign-out" size="lg"></fa> Logout
        </a>
      </li>
    </ul>
  </div>

</nav>
