::ng-deep body{
    padding-top: 0px;
}

/* make content minimum a full page, to make footer sticks on bottom */
.content{
    min-height: 100%;
}

/deep/ .page-item.active .page-link {
    background-color: #28a746 !important;
    border-color: #28a746 !important;
    color: white !important;
}

/deep/ .page-link {
    color: #495057 !important;
}