/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/simplex/variables';
@import '~bootswatch/dist/simplex/bootswatch';
@import '../node_modules/font-awesome/css/font-awesome.css';
@import '../node_modules/leaflet/dist/leaflet.css';

/* specify this to make footer stick on the bottom of the page */
body, html{
    height: 100%;
}
.nopadding-left {
  padding-left: 0 !important;
  margin-left: 0 !important;
}
.nopadding-right{
  padding-right: 0 !important;
  margin-right: 0 !important;
}
