<div class="container mt-5">
  <div class="card details-container shadow mb-4">
    <!-- Card Header -->
    <div class="card-header text-center">
      <h1 class="m-0 font-weight-bold text-primary">{{message?.title}}</h1>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      <h5>{{message?.description}}</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header">
          <h5 class="m-0 font-weight-bold text-secondary">Photo</h5>
        </div>
        <!-- Card Body -->
        <div class="card-body upper-container">
          <img class="image-fluid garbage-img" src="{{message?.imageUrl}}" alt="Card image" />
        </div>
      </div>
    </div>
    <div class="col-lg-4">

      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header">
          <h5 class="m-0 font-weight-bold text-secondary">Position</h5>
        </div>
        <!-- Card Body -->
        <div class="card-body upper-container">
          <app-map [pageType]="'show'" [messages]=[this.message]></app-map>
        </div>
      </div>
    </div>
  </div>

  <div class="card details-container shadow mb-4">
    <!-- Card Header -->
    <div class="card-header">
      <h5 class="m-0 font-weight-bold text-secondary">Details</h5>
    </div>
    <!-- Card Body -->
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <dt>Creator:</dt>
          <dd>Bien</dd>
          <dt>Created at:</dt>
          <dd>{{message?.created_at | date: 'HH:mm dd.MM.yyyy'}}</dd>
          <div *ngIf="message?.phone">
            <dt>Contact number:</dt>
            <dd>{{message?.phone}}</dd>
          </div>
        </div>
        <div class="col-lg-6">
          <dt>Status:</dt>
          <dd *ngIf="message.available"><span class="badge badge-success">Available</span></dd>
          <dd *ngIf="!message.available"><span class="badge badge-danger">Not available</span></dd>
          <div *ngIf="messageCategories?.length > 0">
            <dt>Category:</dt>
            <dd>
              <span *ngFor="let cat of messageCategories" class="badge badge-pill badge-info">{{cat?.name}}</span>
            </dd>
          </div>
          <dt>Address:</dt>
          <dd>{{message?.address}}</dd>
          <dt>Coordinates:</dt>
          <dd>{{message?.lat}},{{message?.lon}}</dd>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showActionDiv()" class="row text-center my-4">
    <div class="col-lg">
      <button class="btn btn-primary btn-lg mx-1 my-1 btn-action" id="edit-button">Edit message</button>
    </div>
    <div class="col-lg">
      <button class="btn btn-warning btn-lg mx-1 my-1 btn-action" id="status-button">Mark as unavailble</button>
    </div>
    <div class="col-lg">
      <button class="btn btn-danger btn-lg mx-1 my-1 btn-action" id="delete-button">Delete</button>
    </div>
  </div>

  <app-create-comment></app-create-comment>
  <app-comment-list></app-comment-list>

</div>