<!-- Container Div -->
<div class="container">

  <!-- Page Heading -->
  <div class="d-sm-flex  py-3 align-items-center justify-content-between my-4">
    <h2 class="mb-0 text-secondary">Admin dashboard</h2>
  </div>

  <!-- Begin Page Content -->
  <div class="container-fluid">
    <!-- Status boxes -->
    <div class="row mt-4">
      <div class="col-xl-3 col-md-6 mb-4">
        <app-admin-number-box [data]="dataTotalBox()"></app-admin-number-box>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <app-admin-number-box [data]="dataAvailableBox()">
        </app-admin-number-box>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <app-admin-number-box [data]="dataUnavailableBox()">
        </app-admin-number-box>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
        <app-admin-number-box [data]="dataArchivedBox()">
        </app-admin-number-box>
      </div>
    </div>

    <!-- Messages list -->

    <div class="card shadow mb-4">
      <!-- Card Header -->
      <div class="card-header">
        <div class="d-sm-flex align-items-center justify-content-between">
          <h5 class="mb-0 font-weight-bold text-secondary collapse-text" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseMessage">
            Messages
            <fa *ngIf="isCollapsed" name="chevron-down" size="sm"></fa>
            <fa *ngIf="!isCollapsed" name="chevron-up" size="sm"></fa>
          </h5>
          <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" (click)="download()">
            <fa name="download" size="sm"></fa> Export all messages
          </button>
        </div>
      </div>
      <div id="collapseMessage" [ngbCollapse]="isCollapsed">
        <!-- Card Body -->
        <div class="card-body" [ngStyle]="{'padding': 0}">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col" [ngStyle]="{width: '20%'}">Title</th>
                <th scope="col" [ngStyle]="{width: '30%'}">Description</th>
                <th scope="col" [ngStyle]="{width: '20%'}">Creator</th>
                <th scope="col" [ngStyle]="{width: '5%'}">Available</th>
                <th scope="col" [ngStyle]="{width: '5%'}">Archive</th>
                <th scope="col" [ngStyle]="{width: '15%'}">Published</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let m of messages | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize"
                [routerLink]="['/messages', m?._id]"
                [ngClass]="{ 'table-danger': m?.archive, 'table-warning': !m?.available && !m?.archive }"
                [ngStyle]="{'font-size': '0.85rem', 'cursor': 'pointer'}">
                <td>{{(m?.title?.length>30)? (m?.title | slice:0:30)+'...':(m?.title)}}</td>
                <td>{{(m?.description?.length>40)? (m?.description | slice:0:40)+'...':(m?.description)}}</td>
                <td>{{m?.creatorId}}</td>
                <td class="text-center">
                  <fa class="btn-outline-success" name="eye" size="lg" *ngIf="m?.available"></fa>
                  <fa class="btn-outline-danger" name="eye-slash" size="lg" *ngIf="!m?.available"></fa>
                </td>
                <td class="text-center">
                  <fa class="btn-outline-danger" name="archive" size="lg" *ngIf="m?.archive"></fa>
                  <fa class="btn-outline-secondary" name="archive" size="lg" *ngIf="!m?.archive"></fa>
                </td>
                <td>{{m?.created_at | date: 'dd.MM.yy (HH:mm)'}}</td>
              </tr>
            </tbody>
          </table>

          <ngb-pagination class="my-2 d-flex justify-content-center" [(page)]="page" [pageSize]="pageSize"
            [collectionSize]="messages?.length" size="sm"></ngb-pagination>
        </div>
      </div>
    </div>

    <!-- Monthly line chart -->
    <div class="card shadow mb-4">
      <!-- Card Header -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h5 class="m-0 font-weight-bold text-secondary">Number of messages in 2019:</h5>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <app-chart-line [data]="lineData"></app-chart-line>
      </div>
    </div>

    <!-- Categories pie chart -->
    <div class="card shadow mb-4">
      <!-- Card Header -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h5 class="m-0 font-weight-bold text-secondary">Number of messages that has these categories:</h5>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <app-chart-pie [data]="pieData"></app-chart-pie>
      </div>
    </div>


  </div>
  <!-- End of container-fluid -->

</div>
<!-- End of Container div -->
