<p>Hi,</p> 
<h1>a new matching message with your followed category is currently created</h1>
<div>
	<a href="{{url}}/{{messageId}}">Click here to get more information</a>
</div>
<p>Best regards,</p>
<p>Garbage Hunter Team</p>

